
cmanager ICON "icons/cmanager.ico"
#include "wx/msw/wx.rc"

icon1   ICON "icons/camera.ico"
icon2   ICON "icons/engine.ico"
icon3   ICON "icons/geom.ico"
icon4   ICON "icons/group.ico"
icon5   ICON "icons/light.ico"
icon6   ICON "icons/lod.ico"
icon7   ICON "icons/mesh.ico"
icon8   ICON "icons/top.ico"
icon9   ICON "icons/unknown.ico"
icon10  ICON "icons/xform.ico"
icon11  ICON "icons/fog.ico"
icon12  ICON "icons/shadow.ico"
icon13  ICON "icons/hud.ico"
icon14  ICON "icons/dyngeom.ico"

group2  ICON "icons/group2.ico"
geom2   ICON "icons/geom2.ico"

axes			BITMAP	"bitmaps/axes.bmp"
contents_open	BITMAP	"bitmaps/contents_open.bmp"
item_new		BITMAP	"bitmaps/item_new.bmp"
item_remove		BITMAP	"bitmaps/item_remove.bmp"
model_add		BITMAP	"bitmaps/model_add.bmp"
model_remove	BITMAP	"bitmaps/model_remove.bmp"
properties		BITMAP	"bitmaps/properties.bmp"
rulers			BITMAP	"bitmaps/rulers.bmp"
wireframe		BITMAP	"bitmaps/wireframe.bmp"
stats			BITMAP	"bitmaps/stats.bmp"
