
aaaaaaa ICON "icons/VTBuilder.ico"
#include "wx/msw/wx.rc"

distance		BITMAP "bitmaps/distance.bmp"
edit_delete		BITMAP "bitmaps/edit_delete.bmp"
edit_crossing	BITMAP "bitmaps/edit_crossing.bmp"
edit_offset		BITMAP "bitmaps/edit_offset.bmp"
layer_new		BITMAP "bitmaps/layer_new.bmp"
layer_open		BITMAP "bitmaps/layer_open.bmp"
layer_save		BITMAP "bitmaps/layer_save.bmp"
layer_import	BITMAP "bitmaps/layer_import.bmp"
layer_export	BITMAP "bitmaps/layer_export.bmp"
layer_show		BITMAP "bitmaps/layer_show.bmp"
layer_up		BITMAP "bitmaps/layer_up.bmp"
layer_down		BITMAP "bitmaps/layer_down.bmp"
proj_new		BITMAP "bitmaps/proj_new.bmp"
proj_open		BITMAP "bitmaps/proj_open.bmp"
proj_save		BITMAP "bitmaps/proj_save.bmp"
view_hand		BITMAP "bitmaps/view_hand.bmp"
view_mag		BITMAP "bitmaps/view_mag.bmp"
view_plus		BITMAP "bitmaps/view_plus.bmp"
view_minus		BITMAP "bitmaps/view_minus.bmp"
view_zoomall	BITMAP "bitmaps/view_zoomall.bmp"
view_zoom_Layer	BITMAP "bitmaps/view_zoom_Layer.bmp"
view_zoomexact	BITMAP "bitmaps/view_zoomexact.bmp"
view_profile	BITMAP "bitmaps/view_profile.bmp"
view_options	BITMAP "bitmaps/view_options.bmp"

rd_select_road	BITMAP "bitmaps/rd_select_road.bmp"
rd_select_node	BITMAP "bitmaps/rd_select_node.bmp"
rd_select_whole	BITMAP "bitmaps/rd_select_whole.bmp"
rd_direction	BITMAP "bitmaps/rd_direction.bmp"
rd_edit			BITMAP "bitmaps/rd_edit.bmp"
rd_shownodes	BITMAP "bitmaps/rd_shownodes.bmp"

select			BITMAP "bitmaps/select.bmp"
info			BITMAP "bitmaps/info.bmp"
table			BITMAP "bitmaps/table.bmp"
elev_box		BITMAP "bitmaps/elev_box.bmp"
raw_add_point	BITMAP "bitmaps/raw_add_point.bmp"
tin_trim		BITMAP "bitmaps/tin_trim.bmp"
bld_edit		BITMAP "bitmaps/bld_edit.bmp"
bld_add_points	BITMAP "bitmaps/bld_add_points.bmp"
bld_delete_points	BITMAP "bitmaps/bld_delete_points.bmp"
bld_corner		BITMAP "bitmaps/bld_corner.bmp"
str_add_linear	BITMAP "bitmaps/str_add_linear.bmp"
str_edit_linear	BITMAP "bitmaps/str_edit_linear.bmp"
instances		BITMAP "bitmaps/instances.bmp"
elev_resample	BITMAP "bitmaps/elev_resample.bmp"
image_resample	BITMAP "bitmaps/image_resample.bmp"

twr_edit		BITMAP "bitmaps/twr_edit.bmp"

vtbuilder ICON "icons/VTBuilder.ico"

file1	  ICON "icons/file1.ico"
file2	  ICON "icons/file2.ico"
folder1   ICON "icons/folder1.ico"
folder2   ICON "icons/folder2.ico"
folder3   ICON "icons/folder3.ico"

building  ICON "icons/building.ico"
road	  ICON "icons/road.ico"
grid	  ICON "icons/grid.ico"
image	  ICON "icons/image.ico"
veg1	  ICON "icons/veg1.ico"
util      ICON "icons/util.ico"

water	  ICON "icons/water.ico"
transit	  ICON "icons/transit.ico"
raw		  ICON "icons/raw.ico"

panhand	CURSOR "cursors/panhand.cur"

