
aaaaaa ICON "icons/Enviro.ico"
Enviro ICON "icons/Enviro.ico"
#include "wx/msw/wx.rc"

// Used in the main Enviro toolbar(s)
axes	    BITMAP "bitmap/axes.bmp"
bld_corner  BITMAP "bitmap/bld_corner.bmp"
building    BITMAP "bitmap/building.bmp"
camera		BITMAP "bitmap/camera.bmp"
distance	BITMAP "bitmap/distance.bmp"
ephemeris	BITMAP "bitmap/ephemeris.bmp"
faster	    BITMAP "bitmap/faster.bmp"
fence		BITMAP "bitmap/fence.bmp"
instances	BITMAP "bitmap/instances.bmp"
layers		BITMAP "bitmap/layers.bmp"
loc			BITMAP "bitmap/loc.bmp"
maintain	BITMAP "bitmap/maintain.bmp"
move		BITMAP "bitmap/move.bmp"
nav			BITMAP "bitmap/nav.bmp"
nav_fast	BITMAP "bitmap/nav_fast.bmp"
nav_slow	BITMAP "bitmap/nav_slow.bmp"
nav_set		BITMAP "bitmap/nav_set.bmp"
placemark	BITMAP "bitmap/placemark.bmp"
route       BITMAP "bitmap/route.bmp"
scenario	BITMAP "bitmap/scenario.bmp"
select		BITMAP "bitmap/select.bmp"
select_box	BITMAP "bitmap/select_box.bmp"
select_move	BITMAP "bitmap/select_move.bmp"
sgraph		BITMAP "bitmap/sgraph.bmp"
snap	    BITMAP "bitmap/snap.bmp"
snap_num    BITMAP "bitmap/snap_num.bmp"
space		BITMAP "bitmap/space.bmp"
stop	    BITMAP "bitmap/stop.bmp"
sun			BITMAP "bitmap/sun.bmp"
terrain		BITMAP "bitmap/terrain.bmp"
time	    BITMAP "bitmap/time.bmp"
tilt	    BITMAP "bitmap/tilt.bmp"
tree		BITMAP "bitmap/tree.bmp"
unfold	    BITMAP "bitmap/unfold.bmp"
vehicles    BITMAP "bitmap/vehicles.bmp"
view_profile BITMAP "bitmap/view_profile.bmp"

// Used in the layer toolbar
layer_create BITMAP "bitmap/layer_create.bmp"
layer_open	 BITMAP "bitmap/layer_open.bmp"
save		 BITMAP "bitmap/save.bmp"
save_as		 BITMAP "bitmap/save_as.bmp"
zoom_to		 BITMAP "bitmap/zoom_to.bmp"
delete1		 BITMAP "bitmap/delete1.bmp"
eye			 BITMAP "bitmap/eye.bmp"
shadow		 BITMAP "bitmap/shadow.bmp"
treeview	 BITMAP "bitmap/treeview.bmp"
grid		 BITMAP "bitmap/grid.bmp"
refresh		 BITMAP "bitmap/refresh.bmp"

// Icons for layer treeview
building  ICON "icons/building.ico"
road	  ICON "icons/road.ico"
veg1	  ICON "icons/veg1.ico"
raw		  ICON "icons/raw.ico"
fence	  ICON "icons/fence.ico"
instance  ICON "icons/instance.ico"
image	  ICON "icons/image.ico"
